.App {
  text-align: center;
}
a {
  color: black !important;
  text-decoration: none !important; /* no underline */
}
.link-button {
  background: #eaecf0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 24px 0;
  margin: 0 16px;
  margin-bottom: 24px;
}
