.App {
  text-align: center;
}

.link-button {
  background: #eaecf0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 24px 0;
  margin: 0 4px;
  margin-bottom: 24px;
}
.links {
  margin-bottom: 25px;
}
#slack,
#profile-name {
  margin-top: 24px;
  margin-bottom: 32px;
  display: inline-block;
  /* Text lg/Bold */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* Gray/900 */

  color: #101828;
}

.profile {
  margin-top: 64px;
}
.zuri-footer {
  margin: 32px 0;
  padding-top: 37.24px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #eaecf0;
}

.zuri-logo {
  margin: 0 4px;
}
